/* Formatting Everything for printing */

@media print {
  .print-disable {
    display: none;
  }
  .black-font {
    color: black;
  }
  html {
    background-color: white !important;
  }
}

/* Utilites */

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.w-fit {
  width: fit-content !important;
}
